.section {
  text-align: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  display: block;
}

.input {
  margin-top: 5px;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
}

.input:focus {
  border-color: #8693ff;
  outline: #8693ff;
}

.signButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #8693ff;
  padding: 7px 50px 7px 50px;
  color: #fff;
  border-radius: 20px;
  border: 1px solid grey;
  cursor: pointer;
}
