.addButton {
  margin-top: 25px;
  background-color: #8693ff;
  padding: 10px 30px 10px 30px;
  color: #fff;
  border-radius: 20px;
  border: 1px solid grey;
  cursor: pointer;
}

.input {
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
}

.input:focus {
  border-color: #8693ff;
  outline: #8693ff;
}
