.contactsContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactList {
  display: flex;

  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 50px;
  outline: #8693ff 2px solid;
  border-radius: 4px;
}

.nameThumb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 190px;
}

.buttonThumb {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #8693ff;
  font-size: 12px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}
